<body><div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of data">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Nom: {{item.nom}}</h5>
          <p class="card-text">Localisation: {{item.localisation}}</p>
          <p class="card-text">Type Sanguin: {{item.typesang}}</p>
          <div class="mt-3">
            <button class="btn btn-outline-success mr-2"(click)="accepte(item.id)">Accepter</button>
            <button  (click)="supprime(item.id)">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
