<!--div class="main">
    <a routerLink="/pourquoidonner" class="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><img src="assets/images/save.png" alt="pourquoi donner"></a>
</div-->
<html>
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title of the document</title>

</head>
<body>

    <div class="overlay banner">
        <!--<h1>le don de sang peut sauver des vies.</h1>
        <h3>Des milliers de raisons pour faire un don</h3>
        <p>Si vous souhaitez en savoir plus sur la façon dont vous pouvez sauver une vie en donnant votre don, il vous suffit de cliquer sur le bouton ci-dessous.</p>
        <br>-->
        <div class="contents">
        <h1>Un geste simple, une vie sauvée</h1>
    
        <h4>DONNEZ DU SANG, PARTAGEZ LA VIE</h4>
        <button><a routerLink="/pourquoidonner" class="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Plus d'informations</a></button>
    </div>
    </div>
</body>
</html>
