@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

/* Variables */
:root {
  --primary-bg-color: #F7B1AB;
  --secondary-bg-color: #807182;
  --font-color: rgba(0,0,0,.8);
  --font-family: 'Montserrat', sans-serif;
  --form-border-color: rgba(0,0,0,.1);
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}



/* Signup Container */
.signup-container {
  display: grid;
  grid-template-areas: "left right";
  max-width: 900px;
}

.left-container {
  background: beige;
  overflow: hidden;
  padding: 40px 0 0 0;
  position: relative;
  text-align: center;
  width: 300px;
  margin-top: 80px;
  margin-left: 250px;
}





.doctor img {
  width: 70%;
 
}

/* Right Container */
.right-container {
  background: #F6DFE2;
  display: grid;
  grid-template-areas: "." ".";
  width: 500px;
  margin-top: 50px;
}

.right-container h1:nth-of-type(1) {
  color: #171A2B;
  font-size: 28px;
  font-weight: 600;
}

.right-container .set {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.right-container input {
  border: 1px solid rosybrown;
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
}

.right-container input, .right-container label{
  color: rosybrown;

}
.right-container form-select {
  color: rosybrown;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.right-container header {
  padding: 40px;
}

.right-container label, .right-container input{
  width: 176px;
}


.right-container .pets-weight {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.right-container footer {
  align-items: center;
  background: #fff;
  display: grid;
  padding: 5px 40px;
  background: rgb(108, 172, 202);
}

.right-container footer button {
  border: 1px solid rgba(0,0,0,.2);
  height: 38px;
  line-height: 38px;
  width: 100px;
  border-radius: 19px;
  font-family: var(--font-family);
}

.right-container footer #back {
  background: #fff;
  transition: .2s all ease-in-out;
}

.right-container footer #back:hover {
  background: #171A2B;
  color: white;
}

.right-container footer #next {
  background: var(--secondary-bg-color);
  border: 1px solid transparent;
  color: #fff;
}

.right-container footer #next:hover {
  background: #171A2B;
}

/* Radio Container */
.radio-container {
  background: #fff;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
}

.radio-container label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  
  width: 80px;
}

/*.radio-container input[type="radio"] {
display:contents;
}*/

.radio-container input[type="radio"]:checked + label {
  background: var(--primary-bg-color);
  border: 1px solid var(--form-border-color);
}
