/* Styles globaux */
/* Import de la police Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* Variables */
:root {
  --primary-bg-color: #F7B1AB;
  --secondary-bg-color: #807182;
  --font-color: rgba(0,0,0,.8);
  --font-family: 'Montserrat', sans-serif;
  --form-border-color: rgba(0,0,0,.1);
}

/* Signup Container */
.signup-container {
  display: grid;
  grid-template-areas: "left right";
  max-width: 900px;
}

.left-container {
  background: beige;
  overflow: hidden;
  padding: 40px 0 0 0;
  position: relative;
  text-align: center;
  width: 300px;
  margin-top: 80px;
  margin-left: 250px;
}

.doctor img {
  max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la taille du conteneur */
}

.right-container {
  padding-left: 30px;
  background:#932B36;
  display: grid;
  grid-template-areas: "." ".";
  width: 700px;
  margin-top: 50px;
  padding-right: 30px;
  
}

/* Styles pour l'en-tête */
.right-container header h1 {
  margin-top: 30px;
  
  color: #171A2B;
  font-weight: 800;
  font-style: oblique;
  font-size: 24px;
   /* Réduire la taille de la police de l'en-tête */
}

/* Styles pour les ensembles de champs */
.right-container .set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  
}

.right-container .set label {
  display: block;
  font-size: 18px; /* Réduire la taille de la police des étiquettes */
}

.right-container .set input,
.right-container .set select {
  width: calc(100% - 120px);
  height: 32px; /* Réduire la hauteur des champs */
  font-size: 16px; /* Réduire la taille de la police des champs */
  padding-left: 5px;
  border: 1px solid rosybrown;
  border-radius: 4px;
}

/* Styles pour la zone de texte */
.right-container .input-data.textarea textarea {
  height: 80px; /* Réduire la hauteur de la zone de texte */
  font-size: 16px; /* Réduire la taille de la police de la zone de texte */
  padding: 5px;
  border: 1px solid rosybrown;
  border-radius: 4px;
  resize: vertical;
  margin-top: 10px;
  
}

/* Styles pour le pied de page */
.right-container footer {
  align-items: center;
  background: #fff;
  display: grid;
  padding: 5px 40px;
  background: #932B36;
}

.right-container footer button {
  height: 32px; /* Réduire la hauteur des boutons */
  line-height: 32px; /* Ajuster la hauteur de ligne des boutons */
  width: 100px;
  border-radius: 19px;
  font-family: var(--font-family);
  font-size: 16px; /* Réduire la taille de la police des boutons */
}

.right-container footer #back {
  background: #fff;
  transition: .2s all ease-in-out;
}

.right-container footer #back:hover {
  background: #171A2B;
  color: white;
}

.right-container footer #next {
  background: var(--secondary-bg-color);
  border: 1px solid transparent;
  color: #fff;
}

.right-container footer #next:hover {
  background: #171A2B;
}