<form (submit)="submitForm()">
   <div class="signup-container">
       <div class="left-container">
         <div class="doctor">
           <img src="assets/images/doctor1.png">
         </div>
       </div>
       <div class="right-container">
         <header>
           <h1>Comment nous pouvons vous aidé</h1>
           <div class="set">
            <div class="patient-name">
                <label for="patient-name">Nom</label>
                <input id="patient-name" type="text" placeholder="Votre nom" name="nom" [(ngModel)]="demandsobj.nom">
            </div>
            <div class="patient-username">
                <label for="patient-username">Username</label>
                <input id="patient-username" type="text" placeholder="UserName" name="username" [(ngModel)]="demandsobj.username">
            </div>
        </div>
        <div class="set">
            <div class="patient-location">
                <label for="patient-typesang">Type Sang</label>
                <div class="form-floating mt-3">
                    <select class="form-select" id="patient-typesang" name="typesang" [(ngModel)]="demandsobj.typesang">
                        <option>Choisir Votre groupe sanguin</option>
                        <option>A+</option>
                        <option>A-</option>
                        <option>B+</option>
                        <option>B-</option>
                        <option>AB+</option>
                        <option>AB-</option>
                        <option>O+</option>
                        <option>O-</option>
                        <option>Je ne sais pas.</option>
                    </select>
                </div>
            </div>
            <div class="patient-number">
                <label for="patient-number">Numero de telephone</label>
                <input id="patient-number" type="text" name="numtel" placeholder="Votre num tel" [(ngModel)]="demandsobj.numtel">
            </div>
        </div>
        
        
           
            <div class="input-data textarea mb-3">
               <label for="message">Si vous voulez ajouter d 'autre remarque</label>
               <textarea rows="8" cols="80"  name="message" [(ngModel)]="demandsobj.message"></textarea>
               
            
       </div>
       
         </header>
         <footer>
           <div class="set">
             <button id="next">Envoyer</button>
           </div>
         </footer>
       </div>
     </div>
   </form>
   