<nav class="floating-nav">
  <img src="../../assets/images/croissant.jpg" class="img rounded-circle">
  <ul>
    <li>
      <a routerLink="/"  class="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>
    <li>
      <a routerLink="/information" class="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About Us</a>
    </li>
    <li>
      <a routerLink="/authentifier" class="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Votre Compte</a>
    </li>
    <li>
      <a routerLink="/homepage" class="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Homepage</a>
    </li>
  </ul>
</nav>
