<div class="container" id="raison">
    <img class="img_doner"src="assets/images/img1.webp" alt="pouquoi donner">
    <div class="text">
    <h3>Comprendre</h3><hr>
    <p>Le sang joue un rôle essentiel dans de nombreuses fonctions vitales du corps humain et dans sa protection. C’est pourquoi il est important de donner. Le sang, tissu vivant composé à 55 % de plasma et à 45 % de cellules (globules rouges, globules blancs et plaquettes), irrigue tous les organes, leur apporte oxygène et éléments nutritifs et les débarrasse de leurs déchets. Il circule dans les vaisseaux sanguins et est le plus important liquide biologique de notre corps. Le sang joue également un rôle central dans la défense de l’organisme contre les agents pathogènes (bactéries, virus…).<br>

        Le sang a des constituants et des fonctions très complexes dont la plupart sont, à ce jour, irremplaçables. Néanmoins, la mise au point de procédés biotechnologiques permet la production de certains produits substitutifs spécifiques d’origine non-humaine. Pourtant, plusieurs constituants, en particulier cellulaires, ne semblent pas concernés, même à long terme, par de telles préparations.<br>
        
        Le don du sang, geste généreux et désintéressé, est à ce jour la seule chance de soins pour les patients souffrant d’un déficit en composants sanguins.</p>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="type" >
                <h3>Baromètre des groupes sanguins </h3>
                <p class="paragraphe">Le stock de votre groupe se porte mal ? Planifiez un don si vous le pouvez.Votre goutte a le sourire ?<br>
                 On compte sur votre prochain don pour qu'elle le garde !</p>
                <img class="types" src="assets/images/typesang.png" alt="type de sang">
            </div>
        </div>
        <div class="col">
            <a routerLink="/authentifier"  class="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" > 
             
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
                <span class="line-5"></span>
                <span class="line-6"></span>
                Rendez-vous
              
              </a>
        </div>
    </div>
</div>
