<div *ngIf="erreur!=''">
    {{erreur}}
  </div>
  <div class="container">
      <div class="row justify-content-center align-items-center min-vh-100">
          <div class="col-md-6">
              <div class="login-box p-4">
                  <div class="login-header mb-4">
                      <h1 class="text-center">Connexion</h1>
                  </div>
                  <form>
                      <div class="form-group">
                          <input type="text" class="form-control inp"[ngModelOptions]="{standalone: true}" [(ngModel)]="loginObj.username" placeholder="le nom de l'utilisateur" autocomplete="off" required>
                      </div>
                      <div class="form-group">
                          <input type="password" class="form-control inp"[ngModelOptions]="{standalone: true}" [(ngModel)]="loginObj.password" placeholder="le mot de passe" autocomplete="off" required>
                      </div>
                      <a class="btn btn-block login-button" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="onLogin()" >Se connecter</a>
                    </form>
                  <div class="text-center mt-3">
                      <p>Vous n'avez pas de compte ? <a routerLink="/inscription"  class="signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> --S'inscrire--</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>