<body>
	<nav>
		<ul class="menuItems">
			<li><a routerLink="/exsang" data-item='Examinez les demandes du sang' routerLinkActive="active" class="active" [routerLinkActiveOptions]="{exact:true}">Examinez les demandes du sang</a></li>
			<li><a routerLink="/exdon" data-item='Examinez les demandes de don' routerLinkActive="active" class="active" [routerLinkActiveOptions]="{exact:true}">Examinez les demandes de don</a></li>
			<li><a routerLink="/stock" data-item='Révisez le stock' routerLinkActive="active" class="active" [routerLinkActiveOptions]="{exact:true}"> Révisez le stock</a></li>
		</ul>
	</nav>
</body>