<div class="container">
    <a routerLink="/sang" (load)="envoyer()" class="btn btn-primary my-5" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Ajout Demande</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nom</th>
                <th scope="col">Username</th>
                <th scope="col">Type de sang</th>
                <th scope="col">Mobile</th>
                <th scope="col">Information</th>
                <th scope="col">Opération</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dons">
                <td scope="row">{{item.id}}</td>
                <td>{{item.nom}}</td>
                <td>{{item.username}}</td>
                <td>{{item.typesang}}</td>
                <td>{{item.numtel}}</td>
                <td>{{item.information}}</td>
                <!--td><button type="button" (click)="updateDemand(item.id)" class="btn btn-primary">Update</button></td-->
                <td><button type="button" (click)="deleteDemand(item.id)" class="btn btn-primary">Supprimer</button></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<!--app-model [isOpen]="isModelOpen" (closeModel)="closeModel()">
    <app-don ConCloseModel()="closeModel()"></app-don>
</app-model-->